In [1]:
import requests

# Request to get all employees

In [13]:
# get all employee data
url = 'http://localhost:5000/employee'
result = requests.get(url)

In [15]:
json_data = result.json()
json_data

[[1, 'Ali', 'Male', 15000000, 'Jakarta', 26, 'Mon, 11 Jan 2021 22:04:52 GMT'],
 [2, 'Deni', 'Male', 10000000, 'Jakarta', 23, 'Mon, 11 Jan 2021 22:07:49 GMT'],
 [4, 'Rey', 'Male', 25000000, 'Malang', 28, 'Mon, 11 Jan 2021 22:16:41 GMT'],
 [5,
  'Sisca',
  'Female',
  30000000,
  'Bandung',
  27,
  'Mon, 11 Jan 2021 22:16:41 GMT'],
 [6, 'Jeki', 'Male', 12000000, 'Bandung', 23, 'Mon, 11 Jan 2021 22:16:41 GMT'],
 [8,
  'Cindy',
  'Female',
  20000000,
  'Bandung',
  24,
  'Mon, 11 Jan 2021 22:16:41 GMT'],
 [9,
  'Devy',
  'Female',
  17000000,
  'Malang',
  21,
  'Mon, 11 Jan 2021 22:16:41 GMT'],
 [10,
  'Andre',
  'Male',
  25000000,
  'Bandung',
  23,
  'Mon, 11 Jan 2021 22:16:41 GMT'],
 [11,
  'Dito',
  'Male',
  15000000,
  'Jakarta',
  20,
  'Mon, 11 Jan 2021 22:16:41 GMT'],
 [12, 'Rio', 'Male', 20000000, 'Bandung', 23, 'Mon, 11 Jan 2021 22:16:41 GMT'],
 [13,
  'Lulu',
  'Female',
  10000000,
  'Jakarta',
  23,
  'Mon, 11 Jan 2021 22:18:14 GMT'],
 [14, 'Beni', 'Male', 30000000, 'Malang', 23, 'Mon, 11 Jan 2021 22:19:33 GMT'],
 [15,
  'Nila',
  'Female',
  21000000,
  'Bandung',
  20,
  'Mon, 11 Jan 2021 22:20:19 GMT'],
 [16,
  'Billy',
  'Male',
  10000000,
  'Jakarta',
  23,
  'Tue, 12 Jan 2021 20:22:24 GMT'],
 [17,
  'Kimberly',
  'Male',
  10000000,
  'Jakarta',
  23,
  'Tue, 12 Jan 2021 20:22:24 GMT'],
 [18,
  'Tommy',
  'Male',
  10000000,
  'Jakarta',
  23,
  'Tue, 12 Jan 2021 20:22:24 GMT'],
 [20, 'biden', 'Male', 20000000, None, None, 'Thu, 28 Jan 2021 20:59:21 GMT']]

In [10]:
employee = {
    'name': 'biden',
    'gender': 'Male',
    'salary': 20000000
}

In [11]:
url = 'http://localhost:5000/employee'
result = requests.post(url, data=employee)

In [12]:
result.json()

{'message': 'insert succes, name: biden'}