# __SQL Exercise__ (Python Connector)
<hr>

#### - Create _connection_ Python with your SQL Database!
#### - Use ``Sakila`` database!
#### - If there isn't ``Sakila`` in your SQL Database, follow this guidance: https://dev.mysql.com/doc/sakila/en/sakila-installation.html

___

## Import Libraries

## Create Connection

## ``Tampilkan seluruh tabel di Database Sakila (Full Table)``

<hr>

## __Soal__

### 1. Tampilkan aktor yang memiliki nama depan ‘Scarlett’!

### 2. Tampilkan aktor yang memiliki nama belakang ‘Johansson’!

### 3. Berapa banyak nama terakhir aktor (tanpa ada pengulangan/_distint_)?

### 4. Tampilkan 5 nama belakang aktor yang keluar hanya satu kali di database Sakila!¶

### 5. Tampilkan 5 nama belakang aktor yang keluar lebih dari satu kali di database Sakila!

### 6. Tahun berapa film ‘Academy Dinosaur’ di-_release_?

### 7. Berapa rata-rata durasi film di database Sakila?

### 8. Tampilkan rata-rata durasi film di tiap kategori film!

### 9. Tampilkan kategori film yang memiliki rata-rata durasi (_average of length_) di atas rata-rata kategori film lainnya!

### 10. Berapa banyak customer yang dilayani oleh 2 staff di Sakila Database?

### 11. Tampilkan _total order_ (jumlah penyewaan) setiap kategori film!

### 12. Tampilkan 5 kota dengan total order (jumlah penyewaan) terbesar!